<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>tech.systemsmystery.kuna.bg.refresh</string>
		<string>tech.systemsmystery.kuna.bg.processing</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-AltPride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-AltPride</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>AppIcon-Gold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Gold</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>AppIcon-Neon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Neon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>AppIcon-Orange</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Orange</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>AppIcon-Pride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Pride</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>AppIcon-Red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>AppIcon-Silver</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Silver</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>AppIcon-TransPride</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-TransPride</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
			<key>AppIcon-Yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Yellow</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Kuna needs access to your calendars to sync tasks as events.</string>
	<key>NSCalendarsWriteOnlyAccessUsageDescription</key>
	<string>Kuna needs write access to create and update calendar events.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>background-fetch</string>
		<string>background-processing</string>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
